.botao {
  background-color: #6278f7;
  border-radius: 2px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  margin: 32px 0;
}

.botao:hover {
  color: #95ffd4;
  scale: 1.03;
  transition: ease 0.5s;
}
